<a href="https://colab.research.google.com/github/merishabh1/PW-Skills-Assignment/blob/main/30th_Jan_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Soln 1
percentage = float(input("Enter your percentage: "))
if percentage >90:
  print("Your Grade is A")
elif percentage >80:
  print("Your Grade is B")
elif percentage >=60:
  print("Your Grade is C")
else:
  print("Your Grade is D")

Enter your percentage: 60
Your Grade is C

In [13]:
#Soln 2
cost_of_bike = int(input("Enter cost of bike: "))
if cost_of_bike > 100000:
  tax= 0.15
elif cost_of_bike > 50000:
  tax = 0.1
else:
  tax = 0.05
road_tax = cost_of_bike * tax
print(f"Your tax amount is {road_tax}")

Enter cost of bike: 75000
Your tax amount is 7500.0

In [16]:
#Soln 3
city = input("Enter city name ").capitalize()
if city == "Delhi":
  print("Monument : Red Fort")
elif city == "Agra":
  print("Monument : Taj Mahal")
elif city == "Jaipur":
  print("Monument : Jal Mahal")
else:
  print("Enter city from Delhi,Agra,Jaipur to see their monument")

Enter city name agra
Monument : Taj Mahal

In [23]:
#Soln 4
num = int(input("Enter a number "))
count = 0
while num > 10:
  num = num/3
  count +=1
print(count)

Enter a number 5000
6

**Soln 5**

**while Loops**

The while statement in Python is one of most general ways to perform iteration. A while statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

while test:
    code statements
else:
    final code statements

In [24]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

**Soln 6**

In [25]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [26]:
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 5
*
* *
* * *
* * * *
* * * * *

In [27]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 6
* * * * * *
* * * * *
* * * *
* * *
* *
*

**Soln 7**

In [28]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

**Soln 8**

In [29]:
#Q7 & Q8 are same
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1